## Assignment 2: Data Analysis
---
### Name: Tawiah Yemo-Booba
### Date: 6th September,2023

In [6]:
# necessary imports here
import pandas as pd

In [7]:
# loading data
df = pd.read_csv('C:/Users/BLESSEDBRAIN/Desktop/Assignment_2_dataset.csv')
df

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [8]:
#shape of data
df.shape

(400, 26)

In [9]:
# dropping id column
df = df.drop(['id'],axis=1)

In [10]:
df

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [11]:
# rename column names to make it more user-friendly
#column names = age, blood_pressure, specific_gravity, albumin, sugar, red_blood_cells, pus_cell, pus_cell_clumps, bacteria, blood_glucose_random, blood_urea, serum_creatinine, sodium, potassium, haemoglobin, packed_cell_volume, white_blood_cell_count, red_blood_cell_count, hypertension, diabetes_mellitus, coronary_artery_disease, appetite, peda_edema, aanemia, class]
df.rename(columns={'bp': 'blood pressure'}, inplace=True)
df.rename(columns={'sg': 'specific gravity'}, inplace=True)
df.rename(columns={'al': 'albumin'}, inplace=True)
df.rename(columns={'su': 'sugar'}, inplace=True)
df.rename(columns={'rbc': 'red blood cells'}, inplace=True)
df.rename(columns={'pc': 'pus cell'}, inplace=True)
df.rename(columns={'pcc': 'pus cell clumps'}, inplace=True)
df.rename(columns={'ba': 'bacteria'}, inplace=True)
df.rename(columns={'bgr': 'blood glucose random'}, inplace=True)
df.rename(columns={'bu': 'blood urea'}, inplace=True)
df.rename(columns={'sc': 'serum creatinine'}, inplace=True)
df.rename(columns={'sod': 'sodium'}, inplace=True)
df.rename(columns={'pot': 'potassium'}, inplace=True)
df.rename(columns={'hemo': 'hemoglobin'}, inplace=True)
df.rename(columns={'pcv': 'packed cell volume'}, inplace=True)
df.rename(columns={'wc': 'white blood cell count'}, inplace=True)
df.rename(columns={'rc': 'red blood cell count'}, inplace=True)
df.rename(columns={'htn': 'hypertension'}, inplace=True)
df.rename(columns={'dm': 'diabetes mellitus'}, inplace=True)
df.rename(columns={'cad': 'coronary artery disease'}, inplace=True)
df.rename(columns={'appet': 'appetite'}, inplace=True)
df.rename(columns={'pe': 'pedal edema'}, inplace=True)
df.rename(columns={'ane': 'anemia'}, inplace=True)
df.rename(columns={'classification': 'class'}, inplace=True)

In [12]:
df

,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,blood glucose random,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,121.0,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,NaN,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,423.0,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,117.0,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,106.0,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,140.0,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,75.0,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,100.0,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,114.0,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,131.0,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [13]:
#describe data
df.describe()

,age,blood pressure,specific gravity,albumin,sugar,blood glucose random,blood urea,serum creatinine,sodium,potassium,hemoglobin
count,391.000000,388.000000,353.000000,354.000000,351.000000,356.000000,381.000000,383.000000,313.000000,312.000000,348.000000
mean,51.483376,76.469072,1.017408,1.016949,0.450142,148.036517,57.425722,3.072454,137.528754,4.627244,12.526437
std,17.169714,13.683637,0.005717,1.352679,1.099191,79.281714,50.503006,5.741126,10.408752,3.193904,2.912587
min,2.000000,50.000000,1.005000,0.000000,0.000000,22.000000,1.500000,0.400000,4.500000,2.500000,3.100000
25%,42.000000,70.000000,1.010000,0.000000,0.000000,99.000000,27.000000,0.900000,135.000000,3.800000,10.300000
50%,55.000000,80.000000,1.020000,0.000000,0.000000,121.000000,42.000000,1.300000,138.000000,4.400000,12.650000
75%,64.500000,80.000000,1.020000,2.000000,0.000000,163.000000,66.000000,2.800000,142.000000,4.900000,15.000000
max,90.000000,180.000000,1.025000,5.000000,5.000000,490.000000,391.000000,76.000000,163.000000,47.000000,17.800000

In [14]:
#data-info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      391 non-null    float64
 1   blood pressure           388 non-null    float64
 2   specific gravity         353 non-null    float64
 3   albumin                  354 non-null    float64
 4   sugar                    351 non-null    float64
 5   red blood cells          248 non-null    object
 6   pus cell                 335 non-null    object
 7   pus cell clumps          396 non-null    object
 8   bacteria                 396 non-null    object
 9   blood glucose random     356 non-null    float64
 10  blood urea               381 non-null    float64
 11  serum creatinine         383 non-null    float64
 12  sodium                   313 non-null    float64
 13  potassium                312 non-null    float64
 14  hemoglobin               348 non-null    float64
 15  packed cell volume       330 non-null    object
 16  white blood cell count   295 non-null    object
 17  red blood cell count     270 non-null    object
 18  hypertension             398 non-null    object
 19  diabetes mellitus        398 non-null    object
 20  coronary artery disease  398 non-null    object
 21  appetite                 399 non-null    object
 22  pedal edema              399 non-null    object
 23  anemia                   399 non-null    object
 24  class                    400 non-null    object
dtypes: float64(11), object(14)
memory usage: 78.2+ KB


Change all object type to numerical datatype

In [15]:
# convert necessary columns with object type to numerical type
object_columns =df.select_dtypes(include =['object'])
object_columns

,red blood cells,pus cell,pus cell clumps,bacteria,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,NaN,normal,notpresent,notpresent,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,NaN,normal,notpresent,notpresent,38,6000,NaN,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,47,6700,4.9,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,54,7800,6.2,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,49,6600,5.4,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,51,7200,5.9,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,53,6800,6.1,no,no,no,good,no,no,notckd

In [16]:
for col in object_columns:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   age                      391 non-null    float64
 1   blood pressure           388 non-null    float64
 2   specific gravity         353 non-null    float64
 3   albumin                  354 non-null    float64
 4   sugar                    351 non-null    float64
 5   red blood cells          0 non-null      float64
 6   pus cell                 0 non-null      float64
 7   pus cell clumps          0 non-null      float64
 8   bacteria                 0 non-null      float64
 9   blood glucose random     356 non-null    float64
 10  blood urea               381 non-null    float64
 11  serum creatinine         383 non-null    float64
 12  sodium                   313 non-null    float64
 13  potassium                312 non-null    float64
 14  hemoglobin               348 non-null    float64
 15  packed cell volume       329 non-null    float64
 16  white blood cell count   294 non-null    float64
 17  red blood cell count     269 non-null    float64
 18  hypertension             0 non-null      float64
 19  diabetes mellitus        0 non-null      float64
 20  coronary artery disease  0 non-null      float64
 21  appetite                 0 non-null      float64
 22  pedal edema              0 non-null      float64
 23  anemia                   0 non-null      float64
 24  class                    0 non-null      float64
dtypes: float64(25)
memory usage: 78.2 KB

In [18]:
# Extract all numerical columns into num_cols
num_cols = df.select_dtypes(include=['number']).columns
num_cols

Index(['age', 'blood pressure', 'specific gravity', 'albumin', 'sugar',
       'red blood cells', 'pus cell', 'pus cell clumps', 'bacteria',
       'blood glucose random', 'blood urea', 'serum creatinine', 'sodium',
       'potassium', 'hemoglobin', 'packed cell volume',
       'white blood cell count', 'red blood cell count', 'hypertension',
       'diabetes mellitus', 'coronary artery disease', 'appetite',
       'pedal edema', 'anemia', 'class'],
      dtype='object')

In [19]:
# Extract categorical columns as cat_cols
cat_cols = df.select_dtypes(include=['object']).columns
cat_cols

Index([], dtype='object')

<p style = "font-size : 20px; color : #34656d ; font-family : 'Comic Sans MS'; "><strong>There is some ambugity present in the columns we have to remove that.</strong></p>

In [20]:
db = pd.read_csv('C:/Users/BLESSEDBRAIN/Desktop/Assignment_2_dataset.csv')
db

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [21]:
db.rename(columns={'bp': 'blood pressure'}, inplace=True)
db.rename(columns={'sg': 'specific gravity'}, inplace=True)
db.rename(columns={'al': 'albumin'}, inplace=True)
db.rename(columns={'su': 'sugar'}, inplace=True)
db.rename(columns={'rbc': 'red blood cells'}, inplace=True)
db.rename(columns={'pc': 'pus cell'}, inplace=True)
db.rename(columns={'pcc': 'pus cell clumps'}, inplace=True)
db.rename(columns={'ba': 'bacteria'}, inplace=True)
db.rename(columns={'bgr': 'blood glucose random'}, inplace=True)
db.rename(columns={'bu': 'blood urea'}, inplace=True)
db.rename(columns={'sc': 'serum creatinine'}, inplace=True)
db.rename(columns={'sod': 'sodium'}, inplace=True)
db.rename(columns={'pot': 'potassium'}, inplace=True)
db.rename(columns={'hemo': 'hemoglobin'}, inplace=True)
db.rename(columns={'pcv': 'packed cell volume'}, inplace=True)
db.rename(columns={'wc': 'white blood cell count'}, inplace=True)
db.rename(columns={'rc': 'red blood cell count'}, inplace=True)
db.rename(columns={'htn': 'hypertension'}, inplace=True)
db.rename(columns={'dm': 'diabetes mellitus'}, inplace=True)
db.rename(columns={'cad': 'coronary artery disease'}, inplace=True)
db.rename(columns={'appet': 'appetite'}, inplace=True)
db.rename(columns={'pe': 'pedal edema'}, inplace=True)
db.rename(columns={'ane': 'anemia'}, inplace=True)
db.rename(columns={'classification': 'class'}, inplace=True)

In [22]:
# replace incorrect values

#1. in feature diabetes_mellitus, replace "\tno" to 'no' and "\tyes" to 'yes'
replace_dict = {'tno': 'no', 'tyes': 'yes'}
db['diabetes mellitus'].replace(replace_dict, inplace=True)

#2 in feature coronary_artery_disease, replace "\tno" to 'no'
replace_dict1 = {'tno': 'no'}
db['coronary artery disease'].replace(replace_dict1, inplace=True)
#3 in feature class, replace 'ckd\t' to 'ckd', 'notckd' to 'not ckd'
replace_dict2 = {'ckd\t': 'ckd', 'notckd': 'not ckd'}
db['class'].replace(replace_dict2, inplace=True)
db
#note that ckd means chronic kidney disease

,id,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,not ckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,not ckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,not ckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,not ckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,not ckd

In [24]:
# checking for null values in main data
null_values = db.isnull()
null_values
#also sort values in ascending order
# db_sorted = db['null_values'].sort_values(ascending=True)

,id,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
396,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
397,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
398,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
399,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [25]:
## checking for null values in numerical columns
num_cols.isnull()

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False])

In [26]:
## checking for null values in categorical columns
cat_cols.isnull()

array([], dtype=bool)

In [37]:
num_cols1 = db.select_dtypes(include=['number']).columns
num_cols1

Index(['id', 'age', 'blood pressure', 'specific gravity', 'albumin', 'sugar',
       'blood glucose random', 'blood urea', 'serum creatinine', 'sodium',
       'potassium', 'hemoglobin'],
      dtype='object')

In [39]:
# fill null values in numerical columns : use mean of each feature if where value count is less than or equal to 40 and median if value count is greater than 40
threshold = 40

for col in num_cols1:
    
    non_null_count = db[col].count()

    if non_null_count <= threshold:
        
        mean_value = db[col].mean()
        db[col].fillna(mean_value, inplace=True)
    else:
        
        median_value = db[col].median()
        db[col].fillna(median_value, inplace=True)

In [40]:
db

,id,age,blood pressure,specific gravity,albumin,sugar,red blood cells,pus cell,pus cell clumps,bacteria,...,packed cell volume,white blood cell count,red blood cell count,hypertension,diabetes mellitus,coronary artery disease,appetite,pedal edema,anemia,class
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,not ckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,not ckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,not ckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,not ckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,not ckd

In [42]:
#check for null values in all numeric columns
numeric_cols1 = db.select_dtypes(include=['number'])
null_values = numeric_cols1.isnull().sum()
columns_with_null = null_values[null_values > 0]
print(columns_with_null)

Series([], dtype: int64)

In [46]:
#convert all categorical values to numeric
db = pd.get_dummies(db, columns=cat_cols)

In [47]:
#fill null values in categorical columns by using the mode of each column
#do this using functions
def fill_categorical_nulls_with_mode(db):
    for col in db.columns:
        if db[col].dtype == 'object': 
            mode_value = db[col].mode().iloc[0]  
            db[col].fillna(mode_value, inplace=True) 
fill_categorical_nulls_with_mode(db)
print(db)

      id   age  blood pressure  specific gravity  albumin  sugar  \
0      0  48.0            80.0             1.020      1.0    0.0
1      1   7.0            50.0             1.020      4.0    0.0
2      2  62.0            80.0             1.010      2.0    3.0
3      3  48.0            70.0             1.005      4.0    0.0
4      4  51.0            80.0             1.010      2.0    0.0
..   ...   ...             ...               ...      ...    ...
395  395  55.0            80.0             1.020      0.0    0.0
396  396  42.0            70.0             1.025      0.0    0.0
397  397  12.0            80.0             1.020      0.0    0.0
398  398  17.0            60.0             1.025      0.0    0.0
399  399  58.0            80.0             1.025      0.0    0.0

    red blood cells  pus cell pus cell clumps    bacteria  ...  \
0            normal    normal      notpresent  notpresent  ...
1            normal    normal      notpresent  notpresent  ...
2            normal    normal      notpresent  notpresent  ...
3            normal  abnormal         present  notpresent  ...
4            normal    normal      notpresent  notpresent  ...
..              ...       ...             ...         ...  ...
395          normal    normal      notpresent  notpresent  ...
396          normal    normal      notpresent  notpresent  ...
397          normal    normal      notpresent  notpresent  ...
398          normal    normal      notpresent  notpresent  ...
399          normal    normal      notpresent  notpresent  ...

     packed cell volume  white blood cell count  red blood cell count  \
0                    44                    7800                   5.2
1                    38                    6000                   5.2
2                    31                    7500                   5.2
3                    32                    6700                   3.9
4                    35                    7300                   4.6
..                  ...                     ...                   ...
395                  47                    6700                   4.9
396                  54                    7800                   6.2
397                  49                    6600                   5.4
398                  51                    7200                   5.9
399                  53                    6800                   6.1

     hypertension  diabetes mellitus  coronary artery disease appetite  \
0             yes                yes                       no     good
1              no                 no                       no     good
2              no                yes                       no     poor
3             yes                 no                       no     poor
4              no                 no                       no     good
..            ...                ...                      ...      ...
395            no                 no                       no     good
396            no                 no                       no     good
397            no                 no                       no     good
398            no                 no                       no     good
399            no                 no                       no     good

    pedal edema anemia    class
0            no     no      ckd
1            no     no      ckd
2            no    yes      ckd
3           yes    yes      ckd
4            no     no      ckd
..          ...    ...      ...
395          no     no  not ckd
396          no     no  not ckd
397          no     no  not ckd
398          no     no  not ckd
399          no     no  not ckd

[400 rows x 26 columns]